header
  .bgContainer
    #headerImageRays
    a(href="/").index
      #headerImageTitle
    .playerInfo.topMainBar
      if session.user
        a(href="/users/" + session.user.name)
          =session.user.display_name
      else
        | Anonymous
      span ~
      .iconSnowFlake
        img(src="/img/design/snow_flake.gif" alt="Flocons")
      span ~
      | Position : ?
      span ~
      div(title="Niveau Pyramide : ?").iconPyramid
    #headerImageTubz
    #headerImageIgor
