doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    title Hammerfest Zero
    link(rel="stylesheet" href="/css/style.css")
  body
    include _header
    main
      .icons
        include _leftMenu
      block content
    include _footer
