mixin buttonMenu(_class, link, alt)
  a(href=link title=alt class=_class)

mixin inactiveButtonMenu(_class, link, alt)
  a(href="#" title=alt class=_class)

+buttonMenu("iconPlay", "/adventures", "Jouer")
+inactiveButtonMenu("iconInventory", "/user/inventory", "Réfrigérateur")
+inactiveButtonMenu("iconQuests", "/user/quests", "Quêtes")
+inactiveButtonMenu("iconScore", "/scores", "Classement")
if session.user
  +buttonMenu("iconAccount", "/user/edit", "Mon compte")
  form(class=_iconLogout method="POST" action="/logout").iconLogout
    input(type="image" src="/img/design/icon_logout.png" alt="Déconnecter" title="Déconnecter")
