extends _layout

block content
  h1
    | Retrouvez Igor et Sandy dans 
    strong de nouvelles aventures !
  .firstText
    - const imgId = Math.floor(Math.random() * 4) + 1
    img(src="/img/design/screens_home" + imgId + ".gif" alt="Hammerfest Zéro").introimage
    p
      | Jouer à 
      strong Hammerfest Zéro
      | , la suite non officielle du célèbre jeu vidéo Hammerfest!
    ul
      li Des dizaines de nouveaux niveaux !
      li Des nouveaux modes de jeu
      li Des nouvelles options !
      li De nouveaux objets !
      li Un éditeur pour créer ses propres niveaux !
    p Hammerfest Zéro est entièrement gratuit et illimité. Même pas besoin de s'inscrire !
  .choices
    if !session.is_logged
      a(href="/register").choice S'inscrire
      a(href="/login").choice Se connecter
    a(href="/adventures").choice Jouer
    a(href='/adventures/upload').choice Upload
  .features
    .feature
      | Collectionnez les nouveaux objets ! (Promis, on peut tous les attraper)
    .feature
      | Des nouvelles options de jeu encore plus difficiles...
    .feature
      | Un nouveau classement unique !
