extends _layout

include _mixins/forms

block content
  h1 Se connecter
  form.baseform(method="post" action="/login")
    if form.errors.unknown
      span.error=form.errors.unknown
    +textfield("username", "Nom d'utilisateur", "", {required: true, autofocus: true})
    +passwordfield("password", "Mot de passe", "", {required: true})
    input.button(type="submit" value="Se connecter")
