extends _layout

include _mixins/forms

block content
  h1 S'inscrire
  form.baseform(method="post" action="/register")
    if form.errors.unknown
      span.error=form.errors.unknown
    +textfield("username", "Nom d'utilisateur", "Le nom qui vous servira à vous connecter. Doit être unique.", {required: true, autofocus: true})
    +textfield("display_name", "Nom affiché", "Votre nom tel qu'il sera affiché sur le site.", {required: true})
    +passwordfield("password", "Mot de passe", "Votre mot de passe doit faire au moins 12 caractères.", {required: true})
    +passwordfield("password2", "Confirmation du mot de passe", "", {required: true})
    +checkbox("profile_private", "on", "Rendre mon profil privé", "Si coché, seul vous pourrez voir votre profil et vous n'apparaitrez pas dans les classements.")
    input.button(type="submit" value="Créer mon compte")
