extends _layout

block content
  if error
    h1 Fiche utilisateur
    p=error
  else
    h1 Fiche de
      | 
      strong=user.display_name
    //- p Membre des groupes
    //-   | 
    //-   for group in user.groups
    //-     strong=group.name
    //-     if group.is_owner
    //-       |*
    //-     | 
