extends _layout

include _mixins/forms

block content
  h1 Mon compte
  form.baseform(method="post" action="/user/edit")
    h2 Informations générales
    if form.errors.unknown
      span.error=form.errors.unknown
    +textfield("name", "Nom d'utilisateur", "Le nom qui vous servira à vous connecter. Ne peut être modifié.", {disabled: true})
    +textfield("display_name", "Nom affiché", "Votre nom tel qu'il sera affiché sur le site.", {required: true, autofocus: true})
    +checkbox("profile_private", "", "Rendre mon profil privé", "Si coché, seul vous pourrez voir votre profil et vous n'apparaitrez pas dans les classements.")
    h2 Mot de passe
    +passwordfield("password", "Nouveau mot de passe", "Votre mot de passe doit faire au moins 12 caractères.")
    +passwordfield("password2", "Confirmation du mot de passe")
    h2 Paramètres de jeu
    +checkbox("game_preferences[sound]", "", "Son", "Les effets de son (les sauts, les explosions) son activés si vous cochez cette case.")
    +checkbox("game_preferences[music]", "", "Musique", "Cochez cette case pour écouter la musique du jeu pendant votre aventure.")
    +checkbox("game_preferences[detail]", "", "Détails graphiques élevés", "Pour améliorer la rapidité du jeu, décochez la case. ")
    +checkbox("game_preferences[shake]", "", "Vibrations fréquentes", "Si vous trouvez que les vibrations pendant le jeu sont saccadées, décochez cette case.")
    +dropdown("game_preferences[volume]", {"100": "100%", "75": "75%", "50": "50%", "25": "25%"}, "Volume")
    +dropdown("game_preferences[zoom]", {"100": "100%", "133": "133%", "150": "150%", "175": "175%"}, "Niveau de zoom", "Le niveau de zoom du jeu.")
    h2 Lecteur Flash
    +checkbox("game_preferences[use_ruffle]", "", "Utiliser Ruffle Experimental", "Utiliser le lecteur Ruffle pour jouer. Notez que ce lecteur est encore expérimental, et que quelques bugs sont présents. Si vous souhaitez utiliser le lecteur Flash original (et que votre navigateur le supporte), désactivez cette option.\nCette option est ignorée si vous utilisez l'application Hammerfest Zero Desktop.")
    input.button(type="submit" value="Modfier mon compte")
