$body-width: 636px;
$body-text-color: #6e418f;
$back-background-color: #64aae5;
$back-background-color-top: #5591d9;
$body-background-color: #d5e8f8;
$stripes-color-1: #b89bde;
$stripes-color-2: #ad8fcf;
$menu-left-background-color: #b497d9;
$menu-right-background-color: #8d93b9;
$menu-bottom-background-color: #8d93b9;
$body-border-color: #9b44c5;
$body-border: solid $body-border-color 3px;
