mixin checkbox(name, value, label, tooltip)
  unless value
    - value = "on"
  .formfield
    label(for=name + value)
      input(type="checkbox" id=name + value name=name value=value checked=(form.values[name] || form.default[name]))
      span.label=label
      if tooltip
        span.tooltip=tooltip

mixin dropdown(name, options, label, tooltip)
  .formfield
    label(for=name)
      span.label=label
      select(name=name)
        each display, val in options
          option(value=val selected=(form.values[name] || form.default[name]) == val)=display
      if tooltip
        span.tooltip=tooltip

mixin textfield(name, label, tooltip, attr = {})
  .formfield
    label(for=name)
      span.label=label
      if form.errors[name]
        span.error=form.errors[name]
      input(type="text" id=name name=name value=(form.values[name] || form.default[name]))&attributes(attr)
      if tooltip
        span.tooltip=tooltip

mixin textarea(name, label, tooltip, attr = {})
  .formfield
    label(for=name)
      span.label=label
      if form.errors[name]
        span.error=form.errors[name]
      textarea(id=name name=name value=(form.values[name] || form.default[name]) rows=3 cols=50)&attributes(attr)
      if tooltip
        span.tooltip=tooltip

mixin passwordfield(name, label, tooltip, attr = {})
  - attr.type = "password"
  - attr.value = ""
  +textfield(name, label, tooltip, attr)
