.game
  //- TODO: Remove this if using Hammerfest Zero Desktop (or URL variable)
  if game_preferences.use_ruffle
    script(src="https://unpkg.com/@ruffle-rs/ruffle")
  .topBar
  - let flashvars = ""
  - flashvars += "$mode=" + mode
  - flashvars += "&$options=" + options
  - flashvars += "&$lang=" + "fr"
  - flashvars += "&swf=" + "game.swf"
  - flashvars += "&srv=" + "play/manage"
  - flashvars += "&$shake=" + game_preferences.shake
  - flashvars += "&$detail=" + game_preferences.detail
  - flashvars += "&$sound=" + game_preferences.sound
  - flashvars += "&$music=" + game_preferences.music
  - flashvars += "&$volume=" + game_preferences.volume
  - flashvars += "&local=" + false
  - flashvars += "&debug=" + false
  - flashvars += "&sets=" + sets.replace(/&/g, "%26").replace(/=/g, "%3D")
  if adventure.adventure.game.lives
    - flashvars += "&lives=" + adventure.adventure.game.lives
  - flashvars += "&xml_portalLinks=" + encodeURIComponent(adventure.adventure.links.toXML())
  embed(type="application/x-shockwave-flash" src="/loader.swf" width="420" height="520" id="game" name="game" quality="high" allowscriptaccess="always" flashvars=flashvars)
  .bottomBar
