mixin adventureCard(adventure)
  - const adv = adventure.adventure
  .adventure
    .left
      img(src=adv.images[0] alt="")
    .right
      .title
        img(src="/img/design/menu/i" + adv.type + ".gif" alt=adv.type title=adv.type)
        h1=adv.name.toString(getLocale())
          .version="v" + adv.version
        if adventure.source == "session" || (adventure.user && session.user && adventure.user.id == session.user.id)
          form(action="/adventures/" + adventure.slug + "/delete" method="POST")
            input(type="submit" value="delete")
      p.desc=adv.description.toString(getLocale())
      p
        | Auteur
        strong=adv.author
