extends ../_layout

include ../_mixins/forms

block content
  noscript This page requires javascript to be able to work.
  script(src="/js/editor.dist.js")
  script
    | window.adventureJSON = !{JSON.stringify(adventure.adventure.toJSON())}
  h1 Éditeur de niveaux
  include __game
  form.baseform
    a(download='adventure.adv.json' href='data:text/json;charset=utf-8,%7B%7D')#downloadButton
      input(type="button" value="Donwload").button
    h2 Informations générales
    +textfield("name", "Nom de l'aventure")
    +textarea("desc", "Description")
    h2 Paramètres de jeu
    +textfield("lives", "Vies", null, {"type": "number"})
    +textfield("bombs", "Bombes", null, {"type": "number"})
    h2 Liens
