extends ../_layout

include ../_mixins/forms

mixin optionsList(name, list)
  each opt in list
    +checkbox(name, opt, null, __(opt))

block content
  h1 Nouvelle aventure
  form.baseform(method="post" action="/adventures/new")
    h2 Informations générales
    +textfield("name", "Nom de l'aventure")
    +textarea("description", "Description")
    .formfield
      span.label Type
    .hider-container
      input(type="radio" name="type" value="adventure" checked)#type-adventure.show-1
      label(for="type-adventure").label Aventure
      input(type="radio" name="type" value="tutorial")#type-tutorial.show-2
      label(for="type-tutorial").label Apprentissage
      input(type="radio" name="type" value="timeattack")#type-timeattack.show-3
      label(for="type-timeattack").label Time Attack
      input(type="radio" name="type" value="soccer")#type-soccer.show-4
      label(for="type-soccer").label Soccerfest
      .formfield
        .tooltip
          p.element-1 Vies limitées, autant de dimensions que vous le souhaitez
          p.element-2 Deux dimensions. Vies illimitées dans la première, vies limitées dans la seconde. La deuxième se jouera dès que la première s'achèvera.
          p.element-3 Vies limitées, une seule dimension.
          p.element-4 Vies illimitées, vous ne créerez qu'un seul niveau.
          p Le type d'aventure ne peut être changé ultérieurement.
      .element-1.element-3
        h2 Modes disponibles
        .element-1
          +optionsList("options[]", modes.adventure)
        .element-3
          +optionsList("options[]", modes.timeattack)
      .element-1.element-4
        h2 Options disponibles
        .element-1
          each mode in modes.adventure
            +optionsList("options[]", allOptions[mode])
        .element-4
          each mode in modes.soccer
            +optionsList("options[]", allOptions[mode])
      .element-1
        h2 Dimensions
        +textfield("dims", "Nombre de fichiers", "Peut être changé plus tard. Nous recommandons un fichier par dimension", {"type": "number", "min": 1, "value": 1})
      h2 Paramètres de jeu
      .element-1.element-2.element-3
        +textfield("lives", "Vies", null, {"type": "number", "value": 6})
      +textfield("bombs", "Bombes", null, {"type": "number", "value": 2})
      input.button(type="submit" value="Créer une aventure")
