extends ../_layout

include _mixins

mixin menuEntry(mode)
  li
    a(href="#" + mode)
      span=__(mode)
      img(src="/img/design/menu/i" + mode + ".gif" alt="")

mixin optCheckbox(name)
  - ++i
  li
    label(for="inputOption" + i)
      input(type="checkbox" name="options[]" value=name id="inputOption" + i).checkbox
      =__(name)

mixin additionalOptions(mode)
  - let availableOpt = allOptions[mode].filter(opt => adventure.adventure.game_options[opt] === true)
  if availableOpt.length > 0
    .mopt
      span Options supplémentaires :
      ul.moptl
        each opt in availableOpt
          +optCheckbox(opt)

mixin modeDiv(mode)
  .menuInfo(id=mode)
    h2=__(mode)
    p=__(mode + "_description")
    form(action="/adventures/" + adventure.slug + "/" + mode method="get")
      +additionalOptions(mode)
      p
        input(type="submit" value="Commencer").button

block content
  - let i = 0
  - modes.push("editor")
  +adventureCard(adventure)
  .menu
    .menuContLeft
      h2
        | Modes de jeu
      ul
        each mode in modes
          +menuEntry(mode)
    .menuContRight
      each mode in modes
        +modeDiv(mode)
