extends ../_layout

block content
  h1 Uploader une aventure
  if errors
    p
    each error in errors
      | #{error}
      br
  form(action="/adventures/upload" method="post" encType="multipart/form-data")
    input(type="file" name="adv")
    input(type="submit" value="Upload").button
