@use "sass:math";

header {
  $text-color: #ffffff;

  background-image: url(/img/design/stars.svg), linear-gradient($back-background-color-top, $back-background-color);
  height: 202px;
  padding-top: 20px;

  .topMainBar {
    color: $text-color;
    font-weight: bold;
    @include stripes;
    border-radius: 8px;
    width: $body-width - 36;
    line-height: 22px;
    position: absolute;
    left: 18px;
    bottom: 25px;
  }

  .bgContainer {
    background-color: $body-background-color;
    margin: auto;
    height: 100%;
    border: $body-border;
    border-bottom: none;
    width: $body-width;
    position: relative;

    #headerImageRays {
      background-image: linear-gradient(rgba($body-background-color, 0),
                                        rgba($body-background-color, 1)),
                        url("/img/design/headers/rays.svg");
      background-position: center top -55px,
                           center top -80px;
      background-repeat: no-repeat;
      position: absolute;
      width: $body-width;
      height: 180px;
    }

    #headerImageTitle {
      background-image: url("/img/design/headers/shortTitle.svg");
      background-size: cover;
      width: 420px;
      height: 155px;
      position: absolute;
      left: math.div($body-width - 420px, 2);
    }

    #headerImageTubz {
      background-image: url("/img/design/headers/tuberculoz.svg");
      background-size: cover;
      position: absolute;
      top: -20px;
      left: -30px;
      width: 183px;
      height: 187px;
    }

    #headerImageIgor {
      background-image: url("/img/design/headers/bouli.svg");
      background-size: cover;
      position: absolute;
      top: 10px;
      right: -30px;
      width: 166px;
      height: 175px;
    }
  }

  .playerInfo {
    text-align: center;

    span {
      color: black;
      padding-left: 5px;
      padding-right: 5px;
    }

    .iconPyramid {
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 20px;
      background-image: url("/img/design/icon_pyramid_hof.png");
    }

    .iconSnowFlake {
      display: inline;
    }

    .iconSnowFlake img {
      vertical-align: middle;
      margin-bottom: 1px;
    }
  }
}
