/** STRUCTURE **/

body {
  margin				: 0px;
  padding				: 0px;
  background-color	: #8d5e42;
}

body, td {
  font-family			: Trebuchet MS, Verdana, Georgia, sans serif;
  font-size			: 10pt;
  color				: #6e418f;
  text-align			: justify;
}

.siteBg {
  background-image	: url(/img/design/landscape.png);
  background-color	: #64aae5;
  background-position	: left bottom;
  background-repeat	: repeat-x;
}

main {
  background-image	: url(/img/design/footer.png);
  background-position	: left bottom;
  background-repeat	: repeat-x;

  padding-top: 8px;
  padding-left: 74px;
  padding-right: 25px;
  background-color: #d5e8f8;
  border-left: 3px solid #9b44c5;
  border-right: 3px solid #9b44c5;
  width: 537px;
  margin: auto;
  position: relative;
}

.siteMinHeight { /* ie6.css */
  min-height			: 400px;
}

/** GENERAL DIVs **/

.emptySpace {
  height				: 100px;
}

.minSpace {
  min-height			: 400px; /** www/css/ie.css*/
}

.clear {					/** intro effect **/
  clear				: both;
  width				: 100%;
  height				: 1px;
  font-size			: 0pt;
  line-height			: 0pt;
}

h2.evni {
  margin-top			: 130px;
  font-size			: 14pt;
  text-align			: center;
}

.evni {
  text-align			: center;
  font-size			: 12pt;
}

.testMode {
  background			: #cc0000;
  color				: white;
  padding				: 5px;
  -moz-border-radius	: 6px;
}


/** STANDARD TEXT FORMAT **/

p {
  margin				: 5px 0px 15px 0px;
  padding				: 0px;
}

p span  {
  color				: #5591d9;
  font-weight			: bold;
}

p img {
  vertical-align		: middle;
}

p.text-right {
  text-align			: right;
}

p.smallfont {
  font-size			: 8pt;
  margin-bottom		: 0px;
}

h1 {
  margin				: 0px 0px 5px 0px;
  padding				: 0px;
  font-size			: 18pt;
  font-weight			: normal;
  text-align			: right;
  border-bottom		: solid 1px #804ea2;
}

h2 {
  margin				: 0px;
  padding				: 0px;
  font-size			: 13pt;
  font-weight			: bold;
  color				: #a47ac2;
  text-align			: right;
}

h3 {
  margin				: 0px;
  padding				: 0px;
  font-size			: 13pt;
  font-weight			: normal;
  border-bottom		: 1px solid #d0bbdf;
}

h4  {
  margin				: 0px;
  padding				: 0px;
  padding-top			: 6px;
  font-size			: 10pt;
  font-weight			: bold;
  border-bottom		: 1px dashed #a8c7ec;
}

h4 span {
  color				: #5591d9;
  line-height			: 17px;
  font-size			: 12pt;
  font-weight			: bold;
}

li img {
  vertical-align		: top;
}

blockquote {
  width				: 450px;  /** ie bug **/
  margin				: auto;
  border-width		: 1px 0px 1px 0px;
  border-style		: solid;
  border-color		: #804ea2;
  padding				: 2px 8px 2px 5px;
  background			: #c8c5ec;
  font-style			: italic;
  border-radius		: 6px;
}


/** LINKS **/

a {
  color				: #3833a6;
}

a img {
  border: none;
}

a:visited, a:active {
  color				: #3d6da5;
}

a:active {
  text-decoration		: none;
  color				: #2255db;
}

a:hover {
  color				: #6a9cf0;
  cursor				: pointer;
}

.linkmoreInfo a:hover {
  text-decoration		: underline;
  color				: #000000;
  cursor				: help;
}

/** REDIRECTION PAGE **/
.redirection {
  background-color	: #64aae5;
  font-family			: Trebuchet MS, Verdana, Georgia, sans serif;
  color				: #6e418f;
}

.redirection .redirBox {
  margin-left			: 100px;
  margin-top			: 20px;
  width				: 636px;
  height				: 150px;
  border				: 2px solid #9b44c5;
  background-color	: #d5e8f8;
}

.redirection h1 {
  font-size			: 14pt;
  font-weight			: bold;
  margin-top			: 50px;
  margin-bottom		: 0px;
  text-align			: center;
  border				: none;
}

.redirection h2 {
  font-size			: 10pt;
  margin-top			: 0px;
  text-align			: center;
  color				: #9b44c5;
}

.redirection .outerspace {
  position			: absolute;
  top					: -20px;
}


/** ICONS **/

.icons {
  position			: absolute;
  top				: 50px;
  left				: -40px;
  line-height			: 0pt;
}

.cache { /** image preloader **/
  position			: absolute;
  left				: 0px;
  top					: -1000px;
}

.iconPlay img, .iconInventory img, .iconQuests img, .iconScore img {
  background-repeat	: no-repeat;
  background-position : top left;
  width				: 92px;
}

.iconPlay a:hover img, .iconInventory a:hover img, .iconQuests a:hover img, .iconScore a:hover img {
  filter: brightness(1.15);
}

.iconPlay img {
  background-image	: url(/img/design/icon_play.png);
  height				: 69px;
}

.iconInventory img {
  background-image	: url(/img/design/icon_inventory.png);
  height				: 56px;
}

.iconQuests img {
  background-image	: url(/img/design/icon_quests.png);
  height				: 51px;
}

.iconScore img {
  background-image	: url(/img/design/icon_score.png);
  height				: 73px;
}

.icons a {
  border				: none;
}

/* PNG in IE requires specific code */
.iconAccount, .iconShop, .iconSponsor, .iconLogout {
  float				: left;
  position			: relative;

  width				: 32px;
  height				: 32px;
  margin-top			: 3px;
  margin-right		: 3px;

  background-repeat	: no-repeat;
  background-position : top left;
}

.iconAccount img, .iconShop img, .iconSponsor img, .iconLogout img {
  width				: 32px;
  height				: 32px;
}

.iconAccount {
  margin-bottom		: 4px;
  margin-left			: 5px;
  background-image	: url(/img/design/icon_account.png);
}

.iconShop {
  margin-bottom		: 4px;
  margin-left			: 5px;
  background-image	: url(/img/design/icon_shop.png);
}

.iconSponsor {
  margin-bottom		: 0px;
  margin-left			: 5px;
  background-image	: url(/img/design/icon_sponsor.png);
}

.iconLogout {
  margin-bottom		: 0px;
  margin-left			: 5px;
  background-image	: url(/img/design/icon_logout.png);
}

.icons .betaForum, .icons .buttonForum {
  float				: left;
  position			: relative;
  margin-top			: 10px;
  margin-left			: 6px;
  font-size			: 9pt;
  line-height			: 12pt;
  font-weight			: bold;
  color				: white;
  text-transform		: uppercase;
  padding				: 1px;
}
.icons .betaForum a, .icons .buttonForum a {
  text-decoration		: none;
}

.buttonForum {
  width				: 68px;
  height				: 25px;
  background-image	: url(/img/design/icon_forum.png);
  background-repeat	: no-repeat;
  background-position	: top left;
}

.buttonForum img {
  width				: 68px;
  height				: 25px;
}


/** FORM **/

form {
  margin				: 0px;
  padding				: 0px;
}

input {
  font-family			: Trebuchet MS, Verdana, Georgia, sans serif;
  margin				: 0px;
  padding				: 0px;

  border				: 1px solid #ad8fcf;
  font-size			: 10pt;
  color				: #6e418f;
}

input.checkbox {
  width				: 15px;
  border				: 0px; /** IE **/
  vertical-align		: -15%;
}

input.globalInput {
  width				: 150px;
}

input.globalInput:focus {
  border-style		: dashed;
}

input.submitLogin {
  background-color	: #d5e8f8;
  border				: dashed 1px white;
}

input.submitInscr {
  width				: 539px;
  background-color	: #b89bde;
  color				: #ffffff;

  margin-top			: 10px;
  border-top			: 1px solid #a389c5;
  border-left			: 1px solid #a389c5;
  border-bottom		: 1px solid #8263a5;
  border-right		: 1px solid #8263a5;
}

input.submitInscr:hover {
  border-top			: 1px solid #8263a5;
  border-left			: 1px solid #8263a5;
  border-bottom		: 1px solid #a389c5;
  border-right		: 1px solid #a389c5;

  background-color	: #ad8fcf;
  color				: #ffffff;

  cursor				: pointer;
}

input.submitUser {
  width				: 130px;
  background-color	: #b89bde;
  color				: #ffffff;

  margin				: 10px 0px 0px 168px;
  border-top			: 1px solid #a389c5;
  border-left			: 1px solid #a389c5;
  border-bottom		: 1px solid #8263a5;
  border-right		: 1px solid #8263a5;
}

input.submitUser:hover {
  border-top			: 1px solid #8263a5;
  border-left			: 1px solid #8263a5;
  border-bottom		: 1px solid #a389c5;
  border-right		: 1px solid #a389c5;

  background-color	: #ad8fcf;
  color				: #ffffff;

  cursor				: pointer; /** only Ffox **/
}

input.submitRec {
  margin-left 		: 133px;
  width				: 279px;
}

input.submitShop {
  width				: 20px; /** ie.css **/

  color				: #ffffff;
  background-color	: #b89bde;

  border-top			: 1px solid #a389c5;
  border-left			: 1px solid #a389c5;
  border-bottom		: 1px solid #8263a5;
  border-right		: 1px solid #8263a5;
}

input.submitShop:hover {
  background-color	: #ad8fcf;

  border-top			: 1px solid #8263a5;
  border-left			: 1px solid #8263a5;
  border-bottom		: 1px solid #a389c5;
  border-right		: 1px solid #a389c5;

  cursor				: pointer; /** only Ffox **/
}

input.submitConfig {
  width				: 120px; /** ie.css **/
  margin-left			: 60px;
  margin-top			: 18px;
  font-weight			: bold;
  font-size			: 10.5pt;
}

input.submitConfig, input.submitMenu {
  color				: #ffffff;
  background-color	: #b89bde;

  border-top			: 1px solid #a389c5;
  border-left			: 1px solid #a389c5;
  border-bottom		: 1px solid #8263a5;
  border-right		: 1px solid #8263a5;
}

input.submitConfig:hover, input.submitMenu:hover {
  background-color	: #ad8fcf;

  border-top			: 1px solid #8263a5;
  border-left			: 1px solid #8263a5;
  border-bottom		: 1px solid #a389c5;
  border-right		: 1px solid #a389c5;

  cursor				: pointer; /** only Ffox **/
}

input.submitHall {
  width				: 100px;
  margin-left			: 110px;
}

input.buttonErrorId {
  width				: 40px;
  color				: #ffffff;
  background-color	: #b89bde;
}

select {
  font-family			: Trebuchet MS, Verdana, Georgia, sans serif;
  font-size			: 9pt; /* ie */
  color				: #6e418f;
  border				: 1px solid #8263a5;
}

.buttonPublicProfile {
  width				: 30px;
  color				: #ffffff;
  background-color	: #b89bde;
}

.buttonPublicProfile:hover {
  background-color	: #ad8fcf;
  cursor				: pointer;
}

.buttonMailChange {
  width				: 60px;
  color				: #ffffff;
  background-color	: #b89bde;
}

.buttonMailChange:hover {
  background-color	: #ad8fcf;
  cursor				: pointer;
}

input.fieldErrorId {
  width				: 90px;
}

input.hallOfFame {
  background-color	: #b89bde;
}


input.config {
  background-color	: #b89bde;
}

input.forumButton {
  width				: 110px;
  background-color	: #b89bde;
  color				: #ffffff;

  margin-top			: 10px;
  border-top			: 1px solid #a389c5;
  border-left			: 1px solid #a389c5;
  border-bottom		: 1px solid #8263a5;
  border-right		: 1px solid #8263A5;
}

input.forumButton:hover {
  border-top			: 1px solid #8263a5;
  border-left			: 1px solid #8263a5;
  border-bottom		: 1px solid #a389c5;
  border-right		: 1px solid #a389c5;

  background-color	: #ad8fcf;
  color				: #ffffff;

  cursor				: pointer; /** Only Ffox **/
}

textarea {
  padding				: 0px;
  width				: 325px;
  background-color	: #ffffff;
  border				: 1px solid #8263a5;
  color				: #8263a5;
}

.centerTextArea {
  text-align			: center;
}


/** BANNERS **/

.bubulle, .banner, .smallbanner, .button88x31 {
  border				: 1px solid;
  padding				: 5px;
  margin				: auto;
  margin-bottom		: 10px;
}

.button88x31 {
  width				: 88px;
  height				: 31px;
}

.bubulle {
  width				: 230px;
  height				: 200px;
}

.banner {
  width				: 468px;
  height				: 60px;
}

.smallbanner {
  width				: 234px;
  height				: 60px;
}

pre.sponsorTextArea {
  width				: 500px;
  font-size			: 9pt;
  text-align			: left;
  background-color	: white;
  padding				: 5px;
  border				: 1px solid #8263a5;
  margin				: auto;
  margin-bottom		: 20px;
}


/** HEADER AND LOGIN BAR SECTION **/

.topMainBar {
  color				: #ffffff;
  font-weight			: bold;
  background-image: linear-gradient(110deg, #b89bdd 25%, #ad8fcf 25%, #ad8fcf 50%, #b89bdd 50%, #b89bdd 75%, #ad8fcf 75%, #ad8fcf 100%);
  background-size: 8px 22px;
  border-radius: 8px;
  width: 600px;
  line-height: 22px;
  position: absolute;
  left: 18px;
  bottom: 25px;
}

header {
  background-image	: url(/img/design/stars.svg), linear-gradient(#5591d9, #64aae5);
  height: 202px;
  padding-top: 20px;
}

header .bgContainer {
  background-color: #d5e8f8;
  margin: auto;
  width: 636px;
  height: 100%;
  border: solid #9b44c5 3px;
  border-bottom: none;
  position: relative;
}

#headerImageRays {
  background-image: linear-gradient(#d5e8f800, #d5e8f8ff), url("/img/design/headers/rays.svg");
  background-position: center top -55px, center top -80px;
  background-repeat: no-repeat;
  position: absolute;
  width: 636px;
  height: 180px;
}

#headerImageTitle {
  background-image: url("/img/design/headers/mainTitle.png");
  background-repeat: no-repeat;
  width: 420px;
  height: 155px;
  position: absolute;
  left: 108px;
}

#headerImageTubz {
  background-image: url("/img/design/headers/tuberculoz.png");
  position: absolute;
  top: -20px;
  left: -30px;
  width: 183px;
  height: 187px;
}

#headerImageIgor {
  background-image: url("/img/design/headers/bouli.png");
  position: absolute;
  top: 10px;
  right: -30px;
  width: 166px;
  height: 175px;
}

input.login {	/**se acopla por defecto al input de Form y da prioridad a la especificacion de login (en este caso el orden no altera el producto) **/
  width 				: 63px;
  border-left			: 3px solid #6d418e;
  border-right		: 1px solid #6d418e;
  border-top			: 1px solid #6d418e;
  border-bottom		: 1px solid #6d418e;
  padding-left		: 2px;
}

input.hidden {
  display				: none;
}

.lineMainBar { /* www/css/ie.css */
  height				: 20px;
  margin-left			: 160px;
}

span.enter {
  display				: block;
  margin-left			: 10px;
  width				: 55px;
  height				: 16px;
  line-height			: 12pt; /* www/css/ie.css */
  background-color	: #99c0eb;
  border				: solid 1px #6d418e;
  text-align			: center;
  cursor				: hand;
}

a .enter {
  color				: #ffffff;
  text-decoration		: none;
}

a:hover .enter {
  background			: #6191c5;
  color				: #ffffff;
}

.loginForm a {
  text-decoration		: none;
  color				: #ffffff;
}

.flag {
  margin-left			: 3px;
  vertical-align		: middle;
}


/** IDENTIFICATION **/

.left {
  margin-left			: 2px;
  float				: left;
  position			: relative;
}

.loginField {
  margin-right		: 10px;
}

.input.login {
  height				: 15px;
}

/** PLAYER INFO **/

.playerInfo {
  text-align			: center;
}

.playerInfo span {
  color				: #000000;
  padding-left		: 5px;
  padding-right		: 5px;
}

.iconPyramid {
  display				: inline;
  position			: absolute;
}

.iconSnowFlake {
  display				: inline;
}

.iconSnowFlake img { /* www/css/ie.css */
  vertical-align		: middle;
  margin-bottom		: 1px;
  width				: 18px;
  height				: 18px;
}

.playerInfo a {
  color				: #ffffff;
  text-decoration		: none;
}

.playerInfo a:visited {
  color				: #ffffff;
  text-decoration		: none;
}

.playerInfo a:hover {
  color				: #ffffff;
  text-decoration		: underline;
}

/** GENERAL BOTTOM BAR **/

.bottomMenu {
  margin-top			: 150px;
  padding				: 1px 0px 1px 0px;
}

.bottomMenuContent {
  margin-bottom		: 33px;
  text-align			: center;
  font-size			: 10pt;
  font-weight			: bold;
  color				: #ffcc00;
}

.bottomMenuContent a {
  text-decoration		: none;
  color	 			: #ffcc00;
}

.bottomMenuContent a:visited {
  color	 			: #ffcc00;
}

.bottomMenuContent a:hover {
  text-decoration		: underline;
  color				: #ecac00;
}

.firefox {
  vertical-align		: middle;
}

/** HOME **/

.firstText {		
  margin-left			: 15px; /* doubled margin bug with float -> ie.css */
  margin-right		: 15px;		
}

.firstText span {
  font-variant		: small-caps;
}

.introimage {
  float				: right;
  position			: relative;	
  margin-left			: 10px;
  margin-bottom		: 10px;
}

.land {
  float				: right;
  position			: relative;
  padding-left		: 2px;
  padding-top			: 2px;
  width				: 128px;
  height				: 128px;
  margin				: 16px;
}

table.features {
  border-collapse		: collapse;
}

table.features td { /* www/css/ie.css */
  width				: 530px;
  height				: 105px;
  background-repeat	: no-repeat;

  color				: #ffffff;
  font-family 		: Arial, Trebuchet MS, Verdana, sans-serif;
  font-weight			: bold;
  font-style			: italic;
  font-size			: 10.5pt;
  word-spacing		: 2px;
  vertical-align		: bottom;
  padding-bottom		: 6px;
  padding-left		: 3px;
  padding-right		: 7px;
}

table.features td.feature01 {
  background-image	: url(/img/design/feature_01.jpg);
  text-align			: right;
}

table.features td.feature02 {
  background-image	: url(/img/design/feature_02.jpg);
}

table.features td.feature03 {
  background-image	: url(/img/design/feature_03.jpg);
  text-align			: right;
}


.choiceLogged {
  text-align			: center;
  height				: 45px;
  margin-left			: 100px;
}

.choiceNotLogged {
  text-align			: center;
  height				: 45px;
  margin-left			: 50px;
}

.choice .try, .choice .introd, .choice .subscribe {
  float				: left;
  position			: relative;
  display				: block;
  padding-top			: 9px;

  width				: 145px;
  height				: 40px;

  background-repeat	: no-repeat;
  background-position	: top left;
}


.choice .try {
  background-image	: url(/img/design/button_learn.jpg);
}

.choice .introd {
  background-image	: url(/img/design/button_intro.jpg);
}

.choice .subscribe {
  background-image	: url(/img/design/button_subscribe.jpg);
  margin				: 0px;
}

.choice a {
  font-weight			: bold;
  text-decoration		: none;
  font-size			: 13pt;
  color				: #8d66ce;
}

.choice a:hover {
  color				: #6e418f;
  text-decoration		: none;
  background-position	: 0px 1px;
}

.trymight {
  float				: left;
  position			: relative;
  display				: block;
  padding-top			: 18px;

  width				: 145px;
  height				: 40px;

  background-repeat	: no-repeat;
  background-position	: top left;

  background-image	: url(/img/design/button_subscribe.jpg);
  margin				: 0px;

  margin-left			: 125px;
}


/** GAME STRUCTURE **/

.game {
  width: 420px;
  height: 520px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.topBar, .bottomBar {
  width: 420px;
  height: 10px;
  background-image: linear-gradient(110deg, #b89bdd 25%, #ad8fcf 25%, #ad8fcf 50%, #b89bdd 50%, #b89bdd 75%, #ad8fcf 75%, #ad8fcf 100%);
  background-size: 8px 22px;
}

.topBar {
  border-radius: 8px 8px 0px 0px;
}

.bottomBar {
  border-radius: 0px 0px 8px 8px;
}

.game div {
  line-height: 0pt;
}

/** RULES **/

.lineWrapInRules {
  height				: 210px; /* www/css/ie.css */
  border				: 1px solid blue;
}

.rightColumRules {
  float				: left;
  position			: relative;
  width				: 286px;
  border 				: solid 1px #de0101;
}


/** ERROR ID **/

.errorId p {
  margin				: 0px 0px 10px 0px;
  color				: #de0101;
  font-size			: 10pt;
}


.errorId h2 {
  margin				: 0px 0px 0px 0px;
  padding				: 0px;
  font-size			: 10pt;
  font-weight			: normal;
  color				: #6e418f;
  text-align			: left;
}

.errorId table {
  width				: 537px;
  border-collapse		: collapse;
  margin-top			: 5px;
  margin-bottom		: 30px;
}

.errorId tr {
  margin				: 0px 0px 0px 0px;
  padding				: 0px 0px 0px 0px;
}

.leftColumErrorId {
  font-weight			: bold;
  width				: 247px;
  text-align			: right;

  padding-bottom		: 3px;
  vertical-align		: bottom;

  font-size			: 12pt;
  line-height			: 11pt;

}

.rightColumErrorId {
  width				: 290px;
  vertical-align		: bottom;
  text-align			: justify;
  padding-left		: 34px;
  padding-top			: 25px;
}

.rightFirstColumErrorId {
  padding-top			: 0px;
}

p.errorIdparagraph {
  margin				: 0px 0px 10px 0px;
  color				: #6e418f;
  font-size			: 10pt;
}

.messageError {
  margin-left			: 40px;
  margin-top			: -4px; /* www/css/ie.css */
  width				: 197px;
  border-top			: 1px dashed #de0101;

  font-size			: 8pt;
  word-spacing		: 1px;
  line-height			: 9px;
  text-align			: right;
  color				: #de0101;
}

.buttonNerrorId {
  text-align			: center;
  margin				: auto;
  font-size			: 11pt;
  font-weight			: bold;
}

.buttonNerrorId a {
  display				: block;
  width				: 145px;
  height				: 40px;
  background-image	: url(/img/design/button_subscribe.jpg);
  background-repeat	: no-repeat;
  background-position	: top left;
  padding-top			: 9px;
  margin				: auto;
  font-weight			: bold;
  text-decoration		: none;
  font-size			: 13pt;
  color				: #8d66ce;
}

.buttonNerrorId a:hover {
  background-position	: 0px 1px;
}



/** MY ACCOUNT **/
.user {
  margin-left			: 20px;
}

.user .info {
  margin-left			: 15px;
  margin-top			: -4px; /* www/css/ie.css */
  width				: 197px;
  border-top			: 1px dashed #804Ea2;

  font-size			: 8pt;
  word-spacing		: 1px;
  line-height			: 10pt;
  text-align			: right;

}

.user .error {
  margin-left			: 15px;
  margin-top			: -4px; /* www/css/ie.css */
  width				: 197px;
  border-top			: 1px dashed #de0101;
  font-size			: 8pt;
  word-spacing		: 1px;
  line-height			: 11px;
  text-align			: right;
  color				: #de0101;
}

.leftColumUser {
  float				: left;
  position			: relative;

  width				: 212px;
  margin-right		: 33px;
  font-weight			: bold;
  text-align			: right;
}

.rightColumUser {
  float				: left;
  position			: relative;
}

.rightColumUser img {
  width				: 20px;
  height				: 20px;
  vertical-align		: top;
}

.infoUser {
  margin-left			: 15px;
  margin-top			: -4px; /* www/css/ie.css */
  width				: 197px;
  border-top			: 1px dashed #804Ea2;
  text-align			: justify;

  font-size			: 8pt;
  word-spacing		: 1px;
  line-height			: 10pt;
}

.shortInfoUser {
  text-align			: right;
}

.shortError {
  text-align			: right;
}

.acceptUser {
  width				: 150px;
  height				: 42px;
  margin-left			: 64px;
  font-weight			: bold;
}

.success {
  margin				: auto;
  width				: 200px;
  padding-top			: 5px;
  padding-bottom		: 5px;
  border				: 2px dotted #28aa38;
  text-align			: center;
}

.success span {
  line-height			: 20pt;
  font-weight			: bold;
}

.resetSuccess {
  width				: 300px;
}


/** PUBLIC PROFILE **/

dl.profile dt {
  float				: left;
  position			: relative;
  width				: 240px;
  margin				: 0px;
  padding				: 0px;
  height				: 20px; /** no olvidar el padding-top que se añade al height**/
  padding-top			: 3px;
  display				: inline; /** ie bug **/
  margin-bottom		: 8px;
  text-align			: right;
}

dl.profile dd {
  margin-left 		: 260px;
  margin-bottom		: 8px;
  height				: 23px;
  font-size			: 12pt;
  font-weight			: bold;
  color				: #5591d9;
}

dt.wordsFame {
  float: left;
  width: 240px;
  text-align: right;
}

dd.wordsFameUser {
  margin-left			: 260px;
  font-size			: 9pt;
  font-style			: italic;
  color				: #5591d9;
}

.wordsFameInfo {
  float				: left;
  border-top			: 1px dashed #804eA2;
  margin-left			: 10px;
  font-size			: 8pt;
  word-spacing		: 1px;
  line-height			: 10pt;
  text-align			: right;
  width				: 229px;
}

.profileQuests {
  float				: left;
  position			: relative;
  width				: 240px;
}

.profileQuests h3 {
  text-align			: right;
}

.profileQuests h4 {
  text-align			: right;
}

.profileItems {
  float				: left;
  position			: relative;
  margin-left			: 20px;
  width				: 273px;
}

.profileItems img {
  width				: 20px;
  height				: 20px;
  padding				: 1px;
}

ul.profileQuestsTitle {
  list-style-type		: none;
  padding				: 0px;
  margin				: 0px;
  text-align			: right;
  color				: #5591d9;
  font-weight			: bold;
}

p.linkEditUser {
  font-size			: 9pt;
  margin-top			: 25px;
  text-align			: center;
}

.sspecial {
  font-size			: 10pt;
  font-style			: normal;
  color				: #6e418f;
}

.nothing {
  color				: #bebbe6;
}


/** RULES TABLE **/

.rul {
  border-collapse		: collapse;
}


.leftColumRul {
  font-weight			: bold;
  font-size			: 12pt;
  line-height			: 11pt;
  width				: 247px;
  text-align			: right;

  vertical-align		: top;
}

.rightColumRul {
  width				: 290px;
  vertical-align		: top;
  text-align			: justify;
  padding-left		: 34px;
  padding-bottom		: 25px;
}

.bottomLine {
  border-bottom		: 1px solid #804ea2;
}


/** PASSWORD RECOVERY **/

.rec {
  width				: 537px;
  border-collapse		: collapse;
}

.firstRowRec {
  font-weight			: normal;
}

.leftColumRec {
  font-weight			: bold;
  width				: 247px;
  text-align			: right;
  padding-bottom		: 3px;
  vertical-align		: bottom;
}

.leftColumRecInf {
  padding-bottom		: 2px;
}

.leftColumId {
  font-size			: 12pt;
  padding-bottom		: 0px;
  border-bottom		: 1px solid #a47ac2;
  line-height			: 11pt;
}

.rightColumRec {
  width				: 290px;
  vertical-align		: bottom;
  text-align			: justify;
  padding-left		: 34px;
  padding-top			: 25px;
}

p.infoRec {
  padding				: 0px;
  margin				: 0px;
}

p.infoRecError {
  margin-top			: 20px;
  text-align			: center;
  color				: #de0101;
  border				: 1px dashed #de0101;
}

p.infoRecSuccess {
  text-align			: center;
  color				: #6e418f;
  border				: 1px dashed #51cc15;
}


/** SUPPORT TABLE **/
table.support {
  border-collapse		: collapse;
  margin-top			: 0px;
  margin-bottom		: 50px;
}


/** TOURNAMENT **/

.pyramidLevel {
  text-align			: center;
  font-size			: 8pt;
}
.pyramidLevel strong {
  color				: #bd2447;
}

h3.clasifTitle {
  border-bottom		: 0px;
}


table.tournament {
  margin-top			: 20px;
  margin				: auto;
  border-collapse		: none;
  border-left			: 1px solid #99c0eb;
  border-right		: 1px solid #99c0eb;
}

table.tournament th {
  background-color	: #bfd9f2;
  text-align			: center;
  width				: 110px;
}

table.tournament td {
  background-color	: #d5e8f8;
  border-bottom		: 1px dotted #99c0eb;
}

table.tournament th.posit {
  width				: 90px;
}

table.tournament th.score {
  width				: 100px;
}

table.tournament td.score, td.level {
  text-align			: center;
}

table.tournament td.player, td.position {
  text-align			: right;
}

table.tournament tr.mine td {
  font-weight			: bold;
  color				: #d76742;
}
table.tournament tr.mine td a {
  color				: #d76742;
}

.goToHall { /** :D   (°_°)b  **/
  margin-bottom		: 20px;
  text-align			: center;
  font-size			: 8pt;
}

blockquote .player, blockquote .date {
  font-style			: normal;
}

blockquote .player {
  float				: right
}

blockquote .date {
  float				: right;
  margin-right		: 10px;
}

blockquote.hofLink {
  cursor				: pointer;
}
blockquote.hofLatest {
  margin-bottom		: 30px;
}



/** HALL OF FAME **/

table.fame {
  margin				: auto;
  margin-top			: 20px;
  width				: 100%;
  border-collapse		: collapse;
}

table.fame th {
  background-color	: #bfd9f2;
  text-align			: center;
  border-right		: 1px solid #d5e8f8;
  border-left			: 1px solid #d5e8f8;
}

table.fame td {
  padding				: 8px;
  border-bottom		: 1px solid #99c0eb;

}

table.fame td.winnerName {
  border-right		: 1px dotted #99c0eb;
  border-left			: 1px dotted #99c0eb;
}

table.fame td.winnerQuote {
  font-size			: 9pt;
}


.paginHall .currentPage { /** don't forget the parent class **/
  margin-left:0px;

}

.paginHall .paginate {
  margin-right:0px;
}


/** INTRO **/

.intro {
  width				: 420px;
  height				: 345px;
  margin				: auto;
  margin-top			: 15px;
  margin-bottom		: 25px;
  line-height			: 0px; /** ffox bug, espacio de más abajo **/

}

/** FRIDGE **/

dl.introFridge {
  margin				: 0px 0px 0px 40px;
}

dl.introFridge dt {
  float				: left;
  position			: relative;

  padding				: 13px 0px 10px 0px;
  margin-left			: 10px;
}

dl.introFridge dd {
  float				: left;
  position			: relative;

  padding				: 0px;
  margin				: 5px 0px 0px 24px;
  width				: 210px;
  height				: 95px;
  text-align			: justify;
  font-size			: 8pt;
}
dl.introFridge dd p {
  margin-top			: 0px;
  margin-bottom		: 5px;
}

dt.statusFridge, dd.numberFridge {
  float				: left;
  position			: relative;
  width				: 200px;
  height				: 20px;
  margin-top			: 10px;
  font-weight			: bold;
}
dt.statusFridge {
  margin-left			: 100px;
  display				: inline; /* ie bug */
  text-align			: right;
}

dd.numberFridge {
  margin-left			: 20px;
  color				: #5591d9;
}

.numberFridge span {
  color				: #6e418f;
  font-weight			: normal;
}

.lineFridge {
  height				: 1px;
  width				: 300px;
  margin				: auto;
  border-bottom		: 1px solid #b699db;
}

table.fridge {
  margin				: 15px 0px 0px 45px;
  width				: 450px;
  border-collapse		: collapse;
}

table.fridge td {
  padding-left 		: 10px;
}

table.fridge th {
  background-color	: #bfd9f2;
  font-weight			: bold;
  font-size			: 8pt;
  border-bottom		: 1px solid #99c0eb;
  padding-left		: 3px;
  height				: 25px;

}

table.fridge th span {
  text-transform		: uppercase;
}

table.fridge th em {
  padding-left		: 5px;
  font-style			: normal;
  color				: #a67cc5;
}

table.fridge th.familyStatus {
  color				: #a67cc5;
  text-transform		: lowercase;
  width				: 220px;
  text-align			: right;
}

table.fridge tr {
  border-left 		: 1px dotted #99c0eb;
  border-right 		: 1px dotted #99c0eb;
  border-bottom		: 1px dashed #99c0eb;
}

table.fridge img {
  vertical-align		: middle;
}

table.fridge td.item {
  padding-right		: 5px;
}

table.fridge td.quantity {
  font-size			: 8pt;
  width				: 50px;
  padding				: 0px 10px 0px 0px;
}

table.fridge td.name {
  width				: 400px;
  padding				: 0px;
}

table.fridge td.unknown {
  color				: #859dc5;
}

table.fridge td span.unknown {
  color				: #9EC5E0;
}


/** QUEST **/

.itemQuest {
  float				: left;
  position			: relative;

  width				: 35px;
  text-align			: center;
  font-size			: 7.5pt;
  font-weight			: bold;

  margin-left			: 3px;
  margin-right		: 10px;
  margin-top			: 2px;
  margin-bottom		: 2px;

  padding-top			: 0px;
  padding-left		: 2px;
  padding-right		: 2px;
}

.itemDesc {
  clear				: left;
  margin				: 5px;
  padding				: 0px;
  text-align			: left;
  font-size			: 8pt;
}

.itemQuest span {
  font-weight			: normal;
}

.itemQuest em {
  font-weight			: normal;
  font-style			: normal;
  font-size			: 90%;
}

table.quest {
  margin-top			: 40px;
  margin-left			: 49px;
  width				: 450px;
  border-collapse		: collapse;
  background-color	: #d5e8f8;
}

table.quest td {
  text-align			: right;
}

table.quest th {
  border-bottom		: 2px solid #a4c5eb;
  border-right		: 1px dotted #a4c5eb;
  border-left			: 1px dotted #a4c5eb;

  padding-left		: 5px;

  font-size			: 8pt;
  text-align			: right;
  text-transform		: uppercase;
  font-weight			: normal;
}

table.quest .thLeft {
  padding-right		: 2px;
  width				: 150px;
}

table.quest .thRight {
  text-align			: left;
  padding-left		: 26px;
}

table.quest td {
  padding-left		: 20px;
}

table.quest tr.questLine {
  border				: 1px solid #bad3ef;
}

table.quest td.questTitle {
  background-color	: #c4dcf3;
  padding-right		: 5px;
  padding-bottom		: 0px;
  font-size			: 10.5pt;
  width				: 140px;
}

table.quest img {
  width				: 20px;
  height				: 20px;
  vertical-align		: middle;
}

table.quest tr.questLine td {
  border-bottom		: 1px dotted #6e418f;
  padding-bottom		: 2px;
}

.complete, .notComplete {
  font-size			: 9pt;
}

.complete, .complete_lot {
  color				: #99bee8;
  font-weight			: normal;
}
.notComplete, .notComplete_lot {
  color				: #5591d9;
}

.notComplete_lot {
  font-weight			: normal;
}

.complete_lot {
  color				: #5591d9;
}

table.quest td.notYetQuest {
  text-align			: center;
  background-color	: #c4dcf3;
  border				: 1px solid #bad3ef;
  margin				: 20px;
  padding				: 5px;
  padding-right		: 25px;
  font-size			: 10.5pt;
}

table.quest tr.noneQuests img {
  width			: 20px;
  height			: 20px;
  vertical-align	: middle;
  margin-right	: -5px;
}
table.quest tr.noneQuests div {
  float			: left;
  position		: relative;
  margin-right	: 20px;
  margin-top		: 5px;
  font-size		: 140%;
}
table.quest tr.noneQuests td {
  border-bottom	: 1px dotted #6e418f;
  padding-bottom	: 5px;
}
table.quest tr.noneQuests p {
  font-size		: 8pt;
  width			: 180px;
  color			: #A47AC2;
  margin-top		: 2px;
  margin-bottom	: 0px;
  line-height		: 8pt;
  padding-right	: 10px;
}


/** RESULT **/

h2.gameOver {
  text-align			: left;
}

.artResult {
  margin-left			: 155px;
  margin-top			: 30px;
}

.continue {
  width				: 280px;
  height				: 20px;
  font-size			: 9pt;
  border				: 2px dotted #769bad;
  text-align			: center;
  padding				: 2px;
  margin-left			: 115px;
  margin-top			: 10px;
  margin-bottom		: 15px;
}

.levelResult {
  float				: left;
  position			: relative;
  display				: inline; /** bug IE **/
  margin				: 15px 0px 10px 20px;
}

.levelResult p span {
  font-size			: 12pt;
}

.levelResult p span.report {
  font-weight			: normal;
  font-size			: 9.5pt;
}

.levelResult p img {
  vertical-align		: top;
}

.multiResult {
  height				: 150px;
}

.multiResult em {
  font-style			: normal;
  font-size			: 12pt;
}

.multiResult .p0,
.multiResult .p1 {
  position			: absolute;
  width				: 150px;
  font-size			: 15pt;
  font-weight			: bold;
  text-align			: center;
  border				: 1px solid #bad3ef;
  background-color	: #c4dcf3;
}

.multiResult .p0 {
  padding-top			: 10px;
  margin-left			: 80px;
}

.multiResult .p1 {
  margin-left			: 290px;
}

.multiResult img {
  display				: block;
  margin				: auto;
  margin-top			: 10px;
  margin-bottom		: 10px;
}

.lineResult {
  height				: 2px;
  border-top			: 2px dotted #d0bbdf;
  padding-top			: 5px;
}

ul.collected {
  margin				: 0px 0px 0px 20px;
  padding				: 0px;
  list-style-type		: none;
  color				: #5591d9;
}

ul.collected li {
  margin-bottom		: 7px;
  background-image	: url(/img/design/asterisk.gif);
  background-repeat	: no-repeat;
  background-position	: 1px 15px;
  padding				: 0px 0px 0px 10px;
}

ul.collected img {
  width				: 30px;
  height				: 30px;
}

ul.collected li span {
  vertical-align		: 50%;
}

table.result {
  margin				: 10px 20px 0px 20px;
  border-collapse		: collapse;
  background-color	: #d5e8f8;
  width				: 500px;
}

table.result th {
  border-bottom		: 2px solid #a4c5eb;
  border-right		: 1px dotted #a4c5eb;
  border-left			: 1px dotted #a4c5eb;
  padding-left		: 5px;
  font-size			: 8pt;
  text-align			: right;
  text-transform		: uppercase;
  font-weight			: normal;
  height				: 20px;
}

table.result .thLeft {
  padding-right		: 2px;
  width				: 150px;
}

table.result .thMiddle {
  text-align			: left;
  padding-left		: 16px;
}

table.result .thRight {
  text-align			: left;
  padding-left		: 16px;
  width				: 70px;
}

table.result td {
  font-size			: 8pt;
  padding-left		: 16px;
  border				: 1px solid #bad3ef;
}

table.result td.resultTitle {
  background-color	: #c4dcf3;
  text-align			: right;
  padding-right		: 4px;
  font-size			: 10.5pt;
}

table.result td {
  background-color	: #c4dcf3;
  padding-bottom		: 0px;
}

table.result img {
  width				: 20px;
  height				: 20px;
  vertical-align		: middle;
}

.statusCompleted {
  font-weight			: bold;
  color				: #51cc15;
}

.beyond {
  text-align			: center;
  font-size			: 8pt;
}

.notYet {
  text-align			: center;
  background-color	: #c4dcf3;
  border				: 1px solid #bad3ef;
  margin				: 20px;
  padding				: 5px;
  padding-right		: 25px;
  font-size			: 10.5pt;
}

/** MENU CHOOSE GAME **/

.menu {
  color				: #ffffff;
  font-size			: 9pt;
  margin-left: 30px;
  margin-top: 30px;
}

.menu a {
  text-decoration		: underline;
  font-weight			: normal;
  color				: #dbe3fb;
}

.menu .menuContLeft a {
  text-decoration		: none;
}

.menu a span {
  text-decoration		: underline;
  font-weight			: bold;
  color				: #edf1fc;
}

.menu a:hover span {
  color				: #ffffff;
}

.menuContLeft a {
  font-weight			: bold;
}

.menu a:active {
  color				: #dbe3fb;
}

.menu a:visited {
  color				: #ffffff;
}


.menu a:active {
  text-decoration		: none;
}

.menu a:hover {
  cursor				: pointer;
  color				: #ffffff;
}

.menu h2 {
  font-size			: 13pt;
  line-height			: 15pt;
  color				: #ffffff;
}

.menu h2 a:visited, a:active {
  color				: #ffffff;
}

.menuContLeft h2 {
  margin-left			: 10px;
}

.menuContLeft h2, .menubMiddleContentB h2 {
  border-bottom		: 1px solid #e7dff1;
}

.menuContLeft h2 a, .menuContLeft h2 a:hover {
  text-decoration		: none;
  color				: #ffffff;
}

.menuContRight h2 {
  border-bottom		: 1px solid #c0c4da;
  margin-left			: 0px;
}

.menuMiddle {
  width				: 494px;
  min-height			: 300px;
  display: grid;
  grid-template-columns: auto auto;
}

.menuContLeft {
  background-color: #b497d9;
  padding: 10px;
  padding-left: 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
  float				: left;
  position			: relative;
  width				: 147px;
  text-align			: right;
}

/* menu left */

.menuContLeft ul {
  margin				: 0px 0px 5px 0px;
  padding				: 0px;
  list-style-type		: none;
}

.menuContLeft li {
  margin				: 0px;
  padding				: 10px 0px 0px 0px;
  color				: #e7dff1;
}

.menuContLeft li img {
  width				: 23px;
  height				: 23px;
}

.menuContLeft li a:hover img {
  filter: brightness(1.15);
}

/* menu right */

.menuContRight {
  background-color: #8d93b9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
  float: left;
  width: 268px;
  margin-left: -5px;
}

.menuInfo {
  display				: none;  /* menu javascript */
}

.menubMiddle {
  width				: 447px;
  min-height			: 20px;
  height: 100%;
  margin-top: 15px;
  background-color: #8d93b9;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
}

.menubMiddle ul {
  margin				: 0px;
  margin-left: 80px;
  padding				: 0px;
  list-style			: none inside none;
}

.menubMiddle li {
  float				: left;
  position			: relative;
  margin-right		: 20px;
  padding-left		: 14px;
  background			: transparent url('/img/design/menu/imenub.gif') no-repeat center left;
}


/** bottom **/

.menu p img {
  vertical-align		: top;
}

.arrow {
  width				: 162px;
  height				: 29px;
  background			: transparent url('/img/design/menu/arrow.gif') no-repeat top right;
  padding				: 5px 3px 0px 0px;
  margin				: 15px 0px 0px 40px;
  font-weight			: bold;
  text-align			: right;
}

.igorWonder {
  position			: absolute;
  margin-top			: -69px;
  margin-left			: 201px;
  width				: 92px;
  height				: 69px;
  background			: url('/img/design/menu/igorwonder.gif') no-repeat top left;
}


/** news **/

.news {
  width				: 269px;
  margin				: 0px 0px 0px 0px;
  text-align			: left;
}

.newsborder {
  position			: absolute;
  margin-top			: 0px;
  margin-left			: 0px;
  border-top			: 1px solid #c0c4da;
  width				: 279px;
}

.borderarrow {
  border-top			: 1px solid #c0c4da;
  width				: 265px;
  margin-top			: 5px;
}

.news h3 {
  font-size			: 9pt;
  font-weight			: bold;
  border				: none;
}

.news p {
  font-size			: 9pt;
  margin				: 0px 0px 8px 0px;
  padding				: 0px;
}

.news ul {
  margin				: 5px 0px 0px 0px;
  padding				: 0px 0px 0px 15px;
  list-style-position	: inside;

}

.news ul li {
  text-align			: left;
}

.news .image {
  float				: left;
  position			: relative;
  margin-right		: 8px;
  margin-top			: 3px;
}

/** **/

.menu .slc {
  margin				: 2px 0px 0px 0px;
  width				: 121px;
  height				: 18px;
}

.scrz, .descn {
  float				: left;
  position			: relative;
  margin-top			: 10px;
  margin-left			: 6px;
}

.scrz {
  margin-left			: 20px;
}

.txtnv {
  width				: 120px;
  height				: 65px;
  padding-top			: 3px;
  font-size			: 8pt;
  text-align			: left;
}

.scra {
  margin-top: 10px;
  margin-left: 25px;
}

.scra + .scra {
  margin-left: 10px;
}

input.inputMenu {
  margin-right		: 5px;
  vertical-align		: middle;
}

input.submitMenu { /*basic style already configured */
  font-size			: 10.5pt;
  font-weight			: bold;
  padding				: 1px;
  margin				: 15px 0px 0px 88px;
}

.menubMiddleContentB {
  width				: 438px;
  margin-left			: 8px;
  padding-bottom		: 1px; /*bug ffox*/
}

.insertFameText {
  margin-left			: 55px;
}

.errorInsertFameText {
  margin-top			: 5px;
  padding-bottom		: 3px;
  border-bottom		: 1px dashed #bd2222;
  width				: 327px;
  line-height			: 11px;
  text-align			: right;
  color				: #bd2222;
}

.menumext {
  margin-left			: 7px;
  margin-top			: 4px; /* www/css/ie.css */
  width				: 122px;
  border-top			: 1px dashed #804Ea2;
  text-align			: right;

  font-size			: 7pt;
  word-spacing		: 1px;
  line-height			: 10pt;
}

.menu .button, .menu .button:hover {
  margin				: auto;
  display				: block;
  width				: 100px;
  padding				: 2px 3px 2px 3px;
  font-weight			: bold;
  font-size			: 10.5pt;
  text-decoration		: none;
  text-align			: center;
}

.menu .button {
  color				: #ffffff;
  background-color	: #b89bde;

  border-top			: 1px solid #a389c5;
  border-left			: 1px solid #a389c5;
  border-bottom		: 1px solid #8263a5;
  border-right		: 1px solid #8263a5;
}

.menu .button:hover {
  background-color	: #ad8fcf;

  border-top			: 1px solid #8263a5;
  border-left			: 1px solid #8263a5;
  border-bottom		: 1px solid #a389c5;
  border-right		: 1px solid #a389c5;

  cursor				: pointer;
}

.menu .mopt {
  background-color	: #aaafcd;
  width				: 225px;
  -moz-border-radius	: 6px 6px 6px 6px;
  margin				: 5px 0px 0px 10px;
  padding-left		: 5px;
}

.menu .moptlmul {

}


.mopt span {
  text-transform		: uppercase;
  font-size			: 7pt;
  font-weight			: bold;
}

.menu .moptsoccer {
  height				: 65px;	
}

.lidis {
  color				: #c6cae2;
}

.menu ul.moptl, .menu ul.opt {
  margin				: 0px; /* ie.css doubled margin */
  padding				: 0px;
  list-style-type		: none;
}

.menu ul.moptl li { /* ie.css float removed */
  margin				: 0px 0px 0px 20px;
  padding				: 0px;
}

.menu .moptl li label:hover {
  cursor				: pointer;
}

.fomrtimeattack {
  margin				: -20px 0px 0px 0px;

}

/** options **/

.menu ul.opt {
  margin				: 10px 0px 0px 50px;
}

.menu .opt li {
  margin-top			: 10px;
}

.optsuc {
  margin				: 8px 0px 0px 55px;
  font-weight			: bold;


}


/** GENERAL PAGINATE **/

.currentPage, .paginate {
  position			: relative;
  display				: inline; /** bug IE **/
}

.currentPage {
  float				: left;
  margin-left			: 55px;
}

.paginate {
  float				: right;
  margin-right		: 55px;
}

.paginateBox {
  height				: 30px;
}

/** GUIDE **/

.guide p.attention  {
  padding				: 8px 5px 8px 5px;
  font-size			: 10.5pt;
  border				: 1px solid #5591d9;
  text-align			: center;
  margin				: 10px;

  background-color	: #e3f0fb;
}

.guide p.attention img {
  vertical-align		: middle;
  padding				: 3px;
  margin-right		: 5px;
}
.guide p.attention img.left {
  float				: left;
  position			: relative;
}
.guide p.attention img.right {
  float				: right;
  position			: relative;
}

.guide h2 {
  margin-top			: 20px;
}

ul.toc {
  margin				: 0px 0px 0px 35px;
  padding				: 0px;
  list-style-type		: decimal;
}

.sbrok {
  float				: left;
  position			: relative;
  margin				: 9px 9px 9px 0px;
}

ol.tocatt {
  background-image	: url('/img/design/icon_attention.gif');
  background-repeat	: no-repeat;
  background-position	: 10px 20px;
  background-color	: #e3f0fb;
  border				: 1px solid #5591d9;
  list-style-position	: inside;
  padding-left		: 50px;
  padding-top			: 5px;
  padding-bottom		: 5px;
}

ol.tocatt li {
  margin				: 0px;
  padding				: 0px;
}

.fguide {
  vertical-align		: middle;
}

/*** PNG SUPPORT FOR PYRAMID ICONS ***/

img.icon_pyramid, img.icon_pyramid_hof {
  width				: 24px;
  height				: 20px;
  background-repeat	: no-repeat;
  background-position	: top left;
}

img.icon_pyramid_1 {	background-image	: url(/img/design/icon_pyramid_1.png); }
img.icon_pyramid_2 {	background-image	: url(/img/design/icon_pyramid_2.png); }
img.icon_pyramid_3 {	background-image	: url(/img/design/icon_pyramid_3.png); }
img.icon_pyramid_4 {	background-image	: url(/img/design/icon_pyramid_4.png); }
img.icon_pyramid_hof {	background-image	: url(/img/design/icon_pyramid_hof.png); }

/*** FIRST PLAY ***/
.firstPlay p {
  margin				: auto;
  margin-bottom		: 0px;
  margin-top			: 0px;
  font-size			: 10pt;
  text-align			: center;
}

.bankWarning {
  color				: #de0101;
  font-weight			: bold;
}

/** **/

.readmepls {
  background-color	: #b497d9;
  padding				: 7px;
  -moz-border-radius	: 10px;
  color				: #fff;
  text-align			: center;
  font-size			: 10.5pt;
}

.readmepls a {
  color				: #fff;	
  font-size			: 9pt;
}

.supportsite {
  vertical-align		: -35%;	
}

dd.categDesc a {
  text-decoration		: none;
  color				: #6E418F;
}

/** **/

ul.menuactions {
  list-style-type		: none;
  margin				: 0px;
  padding				: 0px;
  width				: 450px;
  margin-left			: 50px;
  
}

ul.menuactions li {
  margin				: 0px;
  padding				: 0px;
  float				: left;
  position			: relative;
  margin-right		: 30px;	
  font-size			: 8pt;
}

.button2 {
  display				: block;
  width				: 120px;	
  height				: 23px;
  color				: white;
  font-weight			: bold;
  background-color	: #ae90d0;
  -moz-border-radius	: 10px;
  text-align			: center;
  padding-top			: 5px;
}

.button2:hover {
  background-color	: #b99cdf;
}

a.button2:hover, a.button2:active, a.button2:visited {
  color				: white;
}

