@import 'themes/_original';

@mixin stripes() {
  background-image: linear-gradient(110deg, $stripes-color-1 25%, $stripes-color-2 25%, $stripes-color-2 50%, $stripes-color-1 50%, $stripes-color-1 75%, $stripes-color-2 75%, $stripes-color-2 100%);
  background-size: 8px 22px;
}

@import '_reset';
@import '_header';

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Trebuchet MS, Verdana, Georgia, sans serif;
  font-size: 10pt;
  color: $body-text-color;
  text-align: justify;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: $back-background-color;
}

footer {
  background-color: $back-background-color;
  background-image: url(/img/design/landscape.png);
  background-position: bottom;
  background-repeat: repeat-x;

  .footerContainer {
    width: $body-width;
    margin: auto;
    min-height: 257px;
    background-color: $body-background-color;
    background-image: url(/img/design/footer.png);
    background-position: bottom;
    background-repeat: repeat-x;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      border-left: $body-border;
      border-right: $body-border;
      left: -3px;
      bottom: 151px;
      height: calc(100% - 151px);
      width: 100%;
    }
  }
}

main {
  padding-top: 8px;
  padding-left: 74px;
  padding-right: 25px;
  background-color: $body-background-color;
  border-left: $body-border;
  border-right: $body-border;
  width: $body-width - 99px;
  margin: auto;
  position: relative;
  flex-grow: 1;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 18pt;
  text-align: right;
  border-bottom: solid 1px #804ea2;
}

h2 {
  font-size: 13pt;
  font-weight: bold;
  color: #a47ac2;
  text-align: right;
}

h3 {
  font-size: 13pt;
}

.clear {
  clear: both;
}

/* LEFT MENU ICONS */

.icons {
  position: absolute;
  top: 50px;
  left: -40px;
  line-height: 0pt;
  z-index: 1;
}

.iconPlay, .iconInventory, .iconQuests, .iconScore {
  background-repeat: no-repeat;
  display: block;
  width: 92px;
  &:hover {
    filter: brightness(1.15);
  }
}

.iconPlay {
  background-image: url(/img/design/icon_play.png);
  height: 69px;
}

.iconInventory {
  background-image: url(/img/design/icon_inventory.png);
  height: 56px;
}

.iconQuests {
  background-image: url(/img/design/icon_quests.png);
  height: 51px;
}

.iconScore {
  background-image: url(/img/design/icon_score.png);
  height: 73px;
}

// TODO: factorize this to have all items in one column
.iconAccount, .iconLogout {
  float: left;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 3px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.iconAccount {
  background-image: url(/img/design/icon_account.png);
}

.iconLogout {
  background-image: url(/img/design/icon_logout.png);
}


/* GAME PARAMETERS MENU */

.menu {
  color: #ffffff;
  font-size: 9pt;
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  min-height: 300px;

  a {
    text-decoration: none;
    color: #edf1fc;
    font-weight: bold;

    span {
      text-decoration: underline;
    }

    &:hover {
      cursor: pointer;
      color: #ffffff;
    }
  }

  h2 {
    font-size: 13pt;
    line-height: 15pt;
    color: #ffffff;
  }
}

.menuContLeft h2 {
  margin-left: 10px;
  border-bottom: 1px solid #e7dff1;
}

.menuContRight h2 {
  border-bottom: 1px solid #c0c4da;
}

.menuContLeft, .menuContRight {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
  flex: 1 1 0px;
  min-width: 0px;
}

.menuContLeft {
  background-color: $menu-left-background-color;
  padding-left: 0px;
  text-align: right;
  flex-grow: 1;

  ul {
    margin-bottom: 5px;

    li {
      padding-top: 10px;
      color: #e7dff1;

      a img {
        vertical-align: middle;
      }

      a:hover img {
        filter: brightness(1.15);
      }
    }
  }
}

.menuContRight {
  background-color: $menu-right-background-color;
  margin-left: 20px;
  flex-grow: 2;
}

.menuInfo {
  display: none;

  &:target {
    display: block;
  }
}

.menu .button, .baseform .button {
  margin: auto;
  margin-top: 5px;
  display: block;
  padding: 2px 10px 2px 10px;
  font-weight: bold;
  font-size: 10.5pt;
  color: #ffffff;
  background-color: #b89bde;
  border: 1px outset #a389c5;

  &:hover {
    background-color: #ad8fcf;
    border-style: inset;
    cursor: pointer;
  }
}

.menu .mopt {
  background-color: #aaafcd;
  width: 225px;
  border-radius: 6px;
  margin: 5px 0px 0px 10px;
  padding-left: 5px;
}

.mopt span {
  text-transform: uppercase;
  font-size: 7pt;
  font-weight: bold;
}

.menu ul.moptl li {
  margin-left: 20px;

  label:hover, label *:hover {
    cursor: pointer;
  }
}

/** options **/

.menu ul.opt {
  margin: 10px 0px 0px 50px;

  li {
    margin-top: 10px;
  }
}

/** FORM **/

input, textarea, select {
  font-family: Trebuchet MS, Verdana, Georgia, sans serif;
  color: $body-text-color;
}

input:not([type="image"]), textarea {
  border: 1px solid #ad8fcf;
  font-size: 10pt;
}

.checkbox {
  vertical-align: middle;
}

select {
  font-size: 9pt;
  border: 1px solid #8263a5;
}

/** MAIN PAGE **/

.firstText {
  padding-top: 5px;
  margin-left: 15px;
  margin-right: 15px;

  ul {
    padding: revert;
    list-style: revert;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.introimage {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.features {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin: auto;

  .feature {
    height: 94px;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Arial, Trebuchet MS, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 9.5pt;
    word-spacing: 2px;
    margin-top: 12px;
    border: 2px #936fb9 solid;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;

    &:nth-child(odd) {
      justify-content: flex-end;
      border-bottom-right-radius: 2px;
    }

    &:nth-child(even) {
      border-bottom-left-radius: 2px;
    }

    &:nth-child(1) {
      background-image: url(/img/design/feature_01.png);
    }

    &:nth-child(2) {
      background-image: url(/img/design/feature_02.png);
    }

    &:nth-child(3) {
      background-image: url(/img/design/feature_03.png);
    }
  }
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .choice {
    text-align: center;
    padding-top: 9px;
    width: 145px;
    height: 40px;
    background-repeat: no-repeat;
    font-weight: bold;
    text-decoration: none;
    font-size: 13pt;
    color: #8d66ce;

    &:hover {
      color: $body-text-color;
      text-decoration: none;
      background-position: 0px 1px;
    }

    &:nth-child(3n+1) {
      background-image: url(/img/design/button_intro.jpg);
    }

    &:nth-child(3n+2) {
      background-image: url(/img/design/button_learn.jpg);
    }

    &:nth-child(3n) {
      background-image: url(/img/design/button_subscribe.jpg);
    }
  }
}

/** GAME STRUCTURE **/

.game {
  width: 420px;
  height: 520px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;

  .topBar, .bottomBar {
    height: 10px;
    @include stripes;
  }

  .topBar {
    border-radius: 8px 8px 0px 0px;
  }

  .bottomBar {
    border-radius: 0px 0px 8px 8px;
  }

  embed, ruffle-embed {
    display: block;
  }
}

/** GENERAL FORMS **/

form.baseform {
  .formfield {
    display: block;
    margin-top: 10px;

    .label {
      font-weight: bold;
      display: block;
    }

    input, textarea {
      display: block;
    }

    input[type="checkbox"] {
      float: left;
    }

    .tooltip {
      display: block;
      font-size: 8pt;
      font-style: italic;
    }
  }

  .error {
    font-size: 9pt;
    color: #de0101;
    border-top: 1px dashed #de0101;
  }

  input[type="submit"] {
    font-size: 11pt;
  }
}

/** TABS **/

.tab-container {
  .tab-content {
    display: none;
  }

  @for $i from 0 to 10 {
    input[type="radio"]:nth-of-type(#{$i}):checked ~ .tab-content:nth-of-type(#{$i}) {
      display: block;
    }
  }

  .tab-content {
    border: 1px solid #d0bbdf;
  }
}

/** HIDER **/

.hider-container {
  [class^="element-"], [class*=" element-"] {
    display: none
  }

  input[type="radio"][class^="show-"]:checked + .label,
  input[type="radio"][class*=" show-"]:checked + .label {
    font-weight: bold;
  }

  @for $i from 0 to 10 {
    input[type="radio"].show-#{$i}:checked ~ .element-#{$i},
    input[type="radio"].show-#{$i}:checked ~ * .element-#{$i},
    {
      display: block;
    }
  }
}

/** ADVENTURE CARDS **/

.adventure {
  display: flex;
  padding: 5px;
  background-color: $menu-right-background-color;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
  margin: 10px;

  .left {
    min-width: 100px;
    display: flex;
    align-items: center;
    img {
      border-radius: 5px;
      max-width: 100px;
    }
  }

  .right {
    margin-left: 3px;


    .title {
      display: flex;
      align-items: flex-end;

      h1 {
        font-size: 15pt;
        text-align: initial;
        border-bottom: initial;

        .version {
          display: inline;
          font-style: italic;
          font-size: 10pt;
          margin-left: 3px;
        }
      }
    }

    p.desc {
      margin-bottom: 1em;
    }

    p > strong {
      margin-left: .3em;
    }
  }
}
